<form method="post" action="{{ path('app_back_office_flux_rss_delete', {'id': flux_rss.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ flux_rss.id) }}">
    <button class="btn btn-danger">Supprimé </button>
</form>
